<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home page</title>
  <link rel="stylesheet" href="{{ url_for('login_bp.static', filename='css/style_login.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{{ url_for('login_bp.static', filename='js/login.js') }}"></script>
  <!-- <script src="{{ url_for('login_bp.static', filename='js/popupAlternate.js') }}"></script> -->


</head>

<p>In construction</p>

<footer>
    <p>Let's go to the end of this projects & start using our cool app.</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>
  </div>
</body>

</html>